<h1 class="mt-5">Playstore</h1>
<form action="{{root}}/search" method="GET">
    <div class="form-group d-flex mt-3">
        <input required type="search" name="q" id="search" class="form-control" placeholder="Search app...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

</form>

{{#if q}} 
    <h2>Your searched results for : {{ q }}</h2>
    {{#if recs}}
<table class="table">
    <thead>
        <tr>
            <th scole="col">Name</th>
            <th scole="col">Category</th>
            <th scole="col">Rating</th>
            <th scole="col">Installs</th>
        </tr>
    </thead>

    <tbody>
        {{#each recs}}
        <tr>
            <td>{{ this.name}}</td>
            <td>{{ this.category}}</td>
            <td>{{ this.rating}}</td>
            <td>{{ this.installs}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>


<table>
    <tr>
        <td>
            <form method="GET" action="{{root}}/search">
                <input type="hidden" name="q" value="{{q}}">
                <input type="hidden" name="offset" value="{{prevOffset}}">
                <button type="submit">Previous</button>
            </form>
        </td>
        <td>
            <form method="GET" action="{{root}}/search">
                <input type="hidden" name="q" value="{{q}}">
                <input type="hidden" name="offset" value="{{nextOffset}}">
                <button type="submit">Next</button>
            </form>
        </td>

    </tr>
</table>


{{else}}
<div>Uh Oh! No apps found</div>
{{/if}}
{{/if}}

